<% present(resource) do |template| %>
  <% template.render_meta_tags %>

  <div class="l-constrained">
    <%= render "/components/hero",
      img_src: template.hero_image_component,
      description: template.hero_description_component,
      hero_colour: "hero--yellow"
    %>
  </div>
  <div class="l-constrained">
    <div class="l-2col">
      <div class="l-2col-main">
        <div class="body-content">
          <h1><%= template.title %></h1>
          <%= template.body.html_safe %>
        </div>
        <%= render 'shared/research_and_evaluation' %>

        <div class="row">
          <div class="l-2col l-2col-no-margin">
            <div class="l-2col-even coloured-box">
              <h2 class="coloured-box__title"><%= template.regional_strategy_title_component %></h2>
              <p><%= template.regional_strategy_text_component %></p>
              <%= link_to *template.regional_strategy_link_component, class: 'btn btn--primary' %>
            </div>
            <div class="l-2col-even">
              <%= render 'shared/life_stages', template: template %>
            </div>
          </div>
        </div>

      </div>
      <div class="l-2col-side">
        <%= render "shared/latest_news", latest_news: @latest_news %>
        <%= render 'shared/country_list' %>
      </div>
    </div>
  </div>
  <div class="l-constrained">
    <div class="row">
      <div class="teaser-box__group">
        <h2 class="teaser-box__group-title">
          <%= template.teaser_section_title_component %>
        </h2>
        <div class="teaser-box__group-content">
          <%= render "shared/teaser_group", template: template %>
        </div>
      </div>
    </div>

    <div class= "row l-2col">
      <div class="l-2col-main">
        <%= template.download_component %>
      </div>
    </div>
  </div>
<% end %>
