<% present(resource) do |template| %>
  <div class="l-constrained">
    <%= render "/components/hero",
      img_src: template.hero_image_component,
      description: template.hero_description_component,
      hero_colour: "hero--yellow"
    %>
  </div>
  <div class="l-constrained">
    <div class="l-2col">
      <div class="l-2col-main">
        <div class="body-content">
          <h1><%= template.title %></h1>
          <%= template.body.html_safe %>
        </div>
        <%= render 'shared/research_and_evaluation' %>
        
        <div class="row">
          <div class="l-2col l-2col-no-margin">
            <%= render 'lifestages/supplementary_content', template: template,
              strategy_title: template.strategy_title_component,
              strategy_content: template.strategy_text_component,
              strategy_links: template.strategy_link_component,
              working_group_title: template.forum_title_component,
              working_group_links: template.forum_links_component
            %>
          </div>
        </div>

      </div>
      <div class="l-2col-side">
        <%= render "shared/latest_news", latest_news: @latest_news %>
        <%= render 'shared/country_list' %>
      </div>
    </div>
  </div>
  <div class="l-constrained">
    <div class="row">
      <div class="teaser-box__group">
        <h2 class="teaser-box__group-title">
          <%= template.teaser_section_title_component %>
        </h2>
        <div class="teaser-box__group-content">
          <% (1..3).each do |n| %>
            <%= render "lifestages/teaser_box",
              image: template.teaser_image_component(n),
              title: template.teaser_title_component(n),
              text: template.teaser_text_component(n)
            %>
          <% end %>
        </div>
      </div>
    </div>

    <div class= "row l-2col">
      <div class="l-2col-main">
        <%= template.download_component %>
      </div>
    </div>
  </div>
<% end %>