<% present(resource) do |template| %>
  <% template.render_meta_tags %>

  <div class="l-constrained">
    <%= render "/components/hero",
      img_src: template.hero_image_component,
      description: template.hero_description_component
    %>
  </div>
  <div class="l-constrained">
    <div class="l-2col">
      <div class="l-2col-main">
        <div class="body-content">
          <h1><%= template.title %></h1>
          <%= template.body.html_safe %>
        </div>
      </div>
      <div class="l-2col-side">
        <%= render "shared/latest_news", latest_news: @latest_news, num_of_items: 1 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="l-constrained">
      <div class="teaser-box__group">
        <h2 class="teaser-box__group-title">
          <%= template.teaser_section_title_component %>
        </h2>
        <div class="teaser-box__group-content">
          <%= render "shared/teaser_group", template: template %>
        </div>
      </div>
    </div>
  </div>

  <div class="l-constrained">
    <div class="l-2col">
      <div class="l-2col-main">
        <div class="row">
          <%= render 'shared/research_and_evaluation' %>
        </div>
        <div class="row">
          <div class="l-2col l-2col-no-margin">
            <%= render 'lifestages/supplementary_content', template: template,
              strategy_title: template.strategy_title_component,
              strategy_content: template.strategy_overview_component,
              strategy_links: template.strategy_link_component,
              working_group_title: template.steering_group_title_component,
              working_group_links: template.steering_group_links_component
            %>
          </div>
        </div>
      </div>
      <div class="l-2col-side">
        <div class="row">
          <%= render "shared/life_stages" %>
        </div>
      </div>
    </div>

    <div class= "row l-2col">
      <div class="l-2col-main">
        <%= template.download_component %>
      </div>
    </div>
</div>
<% end %>
