<ul class="styleguide-nav">
  <li class="styleguide-nav__title">Base<li>
  <%- @links.each do |nav_item| %>
    <li class="styleguide-nav__item">
      <a href=<%= "/styleguide/#{nav_item.downcase}" %> class="styleguide-nav__item-link"><%= nav_item %></a>
    </li>
  <% end %>
</ul>

<ul class="styleguide-nav">
  <li class="styleguide-nav__title">UI Components<li>
  <%- @components.each do |label, path| %>
    <li class="styleguide-nav__item">
      <a href=<%= "/styleguide/#{path}" %> class="styleguide-nav__item-link"><%= label %></a>
    </li>
  <% end %>
</ul>

<ul class="styleguide-nav">
  <li class="styleguide-nav__title">Page Specific<li>
  <%- @page_specific.each do |label, path| %>
    <li class="styleguide-nav__item">
      <a href=<%= "/styleguide/#{path}" %> class="styleguide-nav__item-link"><%= label %></a>
    </li>
  <% end %>
</ul>

<ul class="styleguide-nav">
  <li class="styleguide-nav__title">UI Helpers<li>
  <%- @ui_helpers.each do |label, path| %>
    <li class="styleguide-nav__item">
      <a href=<%= "/styleguide/#{path}" %> class="styleguide-nav__item-link"><%= label %></a>
    </li>
  <% end %>
</ul>
