<h1>Colours</h1>
<h2>Primary Colours</h2>
<ul class="styleguide__palette">
  <%- @primary_colours.each do |colour, hex| %>
    <li class="styleguide__palette-item">
      <div class= "<%= "styleguide__palette-item__sample styleguide__palette-item__sample--primary-#{colour}"%>"></div>
      <p class="styleguide__palette-item__sample-description">
        <%= "$primary-#{colour} (#{hex})" %>
      </p>
    <% end %>
  </li>
</ul>

<h2>Secondary / Supporting Colours</h2>
<ul class="styleguide__palette">
   <%- @supporting_colours.each do |colour, hex| %>
    <li class="styleguide__palette-item">
      <div class="<%= "styleguide__palette-item__sample styleguide__palette-item__sample--color-#{colour}"%>"></div>
      <p class="styleguide__palette-item__sample-description">
        <%= "$color-#{colour} (#{hex})" %>
      </p>
    </li>
  <% end %>
</ul>

<h2>Black and White</h2>
<ul class="styleguide__palette">
   <%- @mono_colours.each do |colour, hex| %>
    <li class="styleguide__palette-item">
      <div class="<%= "styleguide__palette-item__sample styleguide__palette-item__sample--color-#{colour}"%>"></div>
      <p class="styleguide__palette-item__sample-description">
        <%= "$color-#{colour} (#{hex})" %>
      </p>
    </li>
  <% end %>
</ul>

<h2>Greys</h2>
<ul class="styleguide__palette">
  <%- @greys.each do |hue, hex| %>
    <li class="styleguide__palette-item">
      <div class="<%= "styleguide__palette-item__sample styleguide__palette-item__sample--grey-#{hue}"%>"></div>
      <p class="styleguide__palette-item__sample-description">
        <%= "$grey-#{hue} (#{hex})" %>
      </p>
    </li>
  <% end %>
</ul>
