<h1>Lists</h1>
<h2>List variants</h2>
<ul class="styleguide__list">
  <li class="styleguide__list-item">
    <a href="#default-list">Default List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#link-list">Link List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#grouped-cta-list">Grouped CTA List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#numbered-list">Numbered List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#lettered-list">Lettered List</a>
  </li>
  <li class="styleguide__list-item">
    <a href="#countries-list">Countries List</a>
  </li>
</ul>
<h3 class="styleguide__subheading" id="default-list">Default list</h2>
<div class="styleguide__example">
  <ul class="list">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
  </ul>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 4</li>
  </ul>
</xmp>

<h3 class="styleguide__subheading" id="link-list">Link list</h2>
<div class="styleguide__example">
  <ul class="list list--links">
    <li><a href="http://www.fincap.org.uk/">List item 1</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 2</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 3</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 4</a></li>
  </ul>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list list--links">
    <li><a href="#">List item 1</a></li>
    <li><a href="#">List item 2</a></li>
    <li><a href="#">List item 3</a></li>
    <li><a href="#">List item 4</a></li>
  </ul>
</xmp>

<h3 class="styleguide__subheading" id="grouped-cta-list">Grouped CTA list</h2>
<div class="styleguide__example">
  <ul class="list list--grouped-cta">
    <li><a href="http://www.fincap.org.uk/">List item 1</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 2</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 3</a></li>
    <li><a href="http://www.fincap.org.uk/">List item 4</a></li>
  </ul>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list list--grouped-cta">
    <li><a href="#">List item 1</a></li>
    <li><a href="#">List item 2</a></li>
    <li><a href="#">List item 3</a></li>
    <li><a href="#">List item 4</a></li>
  </ul>
</xmp>

<h3 class="styleguide__subheading" id="numbered-list">Numbered list</h2>
<div class="styleguide__example">
  <dl class="list list--numbered">
    <dt class="list--numbered__title">List item 1</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 2</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 3</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 4</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
  </dl>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <dl class="list list--numbered">
    <dt class="list--numbered__title">List item 1</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
    <dt class="list--numbered__title">List item 2</dt>
    <dd class="list--numbered__content">
      List item description content
    </dd>
  </dl>
</xmp>

<h3 class="styleguide__subheading" id="lettered-list">Lettered list</h2>
<div class="styleguide__example">
  <ul class="list list--lettered">
    <li class="list--lettered-item">
      <div class="list--lettered-item__letter" aria-hidden="true">T</div>
      <div class="list--lettered-item__content">
        <a href="#">List item 1</a>
        <p class="list--lettered-item__inner-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non feugiat dolor. Praesent ac eleifend eros.</p>
      </div>
    </li>
    <li class="list--lettered-item">
      <div class="list--lettered-item__letter" aria-hidden="true">E</div>
      <div class="list--lettered-item__content">
        <a href="#">List item 2</a>
        <p class="list--lettered-item__inner-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non feugiat dolor. Praesent ac eleifend eros.</p>
      </div>
    </li>
    <li class="list--lettered-item">
      <div class="list--lettered-item__letter" aria-hidden="true">S</div>
      <div class="list--lettered-item__content">
        <a href="#">List item 3</a>
        <p class="list--lettered-item__inner-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non feugiat dolor. Praesent ac eleifend eros.</p>
      </div>
    </li>
    <li class="list--lettered-item">
      <div class="list--lettered-item__letter" aria-hidden="true">T</div>
      <div class="list--lettered-item__content">
        <a href="#">List item 4</a>
        <p class="list--lettered-item__inner-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non feugiat dolor. Praesent ac eleifend eros.</p>
      </div>
    </li>
  </ul>
</div>

<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list list--lettered">
    <li class="list--lettered-item">
      <div class="list--lettered-item__letter" aria-hidden="true">
        {LETTER}
      </div>
      <div class="list--lettered-item__content">
        <a href="#">
          Heading link
        </a>
        <p class="list--lettered-item__inner-content">
          Content
        </p>
      </div>
    </li>
  </ul>
</xmp>

<h3 class="styleguide__subheading" id="countries-list">Countries list</h2>
<div class="styleguide__example">
  <ul class="list list--countries">
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--uk"></use>
      </svg>
      <%= link_to 'Strategy for United Kingdom', '/', class: 'list--countries-link' %>
    </li>
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--northern-ireland"></use>
      </svg>
      <%= link_to 'Strategy for Northern Ireland', '/', class: 'list--countries-link' %>
    </li>
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--scotland"></use>
      </svg>
      <%= link_to 'Strategy for Scotland', '/', class: 'list--countries-link' %>
    </li>
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--wales"></use>
      </svg>
      <%= link_to 'Strategy for Wales', '/', class: 'list--countries-link' %>
    </li>
  </ul>
</div>
<h3 class="styleguide__subheading">Code</h3>
<xmp>
  <ul class="list list--countries">
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--uk"></use>
      </svg>
      <%= link_to 'Strategy for United Kingdom', '/', class: 'list--countries-link' %>
    </li>
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--northern-ireland"></use>
      </svg>
      <%= link_to 'Strategy for Northern Ireland', '/', class: 'list--countries-link' %>
    </li>
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--scotland"></use>
      </svg>
      <%= link_to 'Strategy for Scotland', '/', class: 'list--countries-link' %>
    </li>
    <li class="list--countries-item">
      <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--wales"></use>
      </svg>
      <%= link_to 'Strategy for Wales', '/', class: 'list--countries-link' %>
    </li>
  </ul>
</xmp>
