<div class="bordered-box">
  <div class="bordered-box__inner">
    <h3 class="bordered-box__title"><%= I18n.t('fincap.countries.title') %></h3>
    <div class="bordered-box__content">
      <p><%= I18n.t('fincap.countries.intro') %></p>
      <ul class="list list--countries">
        <% I18n.t('fincap.countries_list').each do |country| %>
          <li class="list--countries-item">
            <svg xmlns="http://www.w3.org/2000/svg" class="list--countries-icon svg-icon svg-icon--country" focusable="false">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--<%= country[:region] %>"></use>
            </svg>
            <% if region_uk?(country[:region]) %>
              <%= link_to( 
                  country[:text],
                  uk_strategy_path(id: country[:slug], locale: 'en'),
                  class: 'list--countries-link'
              )%>
              <% else %>
                <%= link_to( 
                    country[:text],
                    regional_strategy_path(id: country[:slug], locale: 'en'),
                    class: 'list--countries-link'
                )%>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


