<nav>
  <ul class="top-level">
    <li>
      <a href="#">What is financial capability?</a>

      <div class="second-level">
        <p class="heading">The concept of financial capability, why it is important and who can benefit</p>

        <a href="#" class="return">What is financial capability?</a>

        <ul>
          <li>
            <p class="heading">What is financial capability?</p>

            <ul>
              <li>
                <a href="#">The current situation in the UK</a>
              </li>
              <li>
                <a href="#">Financial capability - a global issue</a>
              </li>
            </ul>
          </li>

          <li>
            <p class="heading">Who is this website for?</p>
            <ul>
              <li>
                <a href="#">Financial Services</a>
              </li>
              <li>
                <a href="#">Charities &amp; third-party</a>
              </li>
              <li>
                <a href="#">Organisations</a>
              </li>
              <li>
                <a href="#">Employers</a>
              </li>
              <li>
                <a href="#">Researchers</a>
              </li>
              <li>
                <a href="#">Teachers</a>
              </li>
              <li>
                <a href="#">Individuals</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#">About The Strategy</a>

      <div class="second-level">
        <p class="heading">Who is involved, why it is needed and how it will help millions of people across the UK</p>

        <a href="#" class="return">About The Strategy</a>

        <ul>
          <li>
            <p class="heading">What is The Strategy?</p>

            <ul>
              <li>
                <a href="#">UK strategy</a>
              </li>
              <li>
                <a href="#">Northern Ireland strategy</a>
              </li>
              <li>
                <a href="#">Scotland strategy</a>
              </li>
              <li>
                <a href="#">Wales strategy</a>
              </li>
            </ul>
          </li>
          <li>
            <p class="heading">Why is The Strategy needed?</p>
            <ul>
              <li>
                <a href="#">What The Strategy aims to achieve</a>
              </li>
              <li>
                <a href="#">Evidence and analysis</a>
              </li>
              <li>
                <a href="#">Summary of key statistics on financial capability</a>
              </li>
              <li>
                <a href="#">Strategy development</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#">Life stages</a>

      <div class="second-level">
        <p class="heading">Groups, areas and themes the strategy focuses on</p>

        <a href="#" class="return">Life stages</a>

        <ul>
          <li>
            <a href="#">Children &amp; young people</a>

            <%= third_level(
              'Children &amp; young people',
              'Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future'
            ).html_safe %>
          </li>
          <li>
            <a href="#">Young adults</a>

            <%= third_level(
              'Young adults',
              'Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future'
            ).html_safe %>
          </li>
          <li>
            <a href="#">Working age adults</a>

            <%= third_level(
              'Working age adults',
              'Working life starts when we enter the workplace, and stretches through to retirement – covering many life events from ages 16 to 70'
            ).html_safe %>
          </li>
          <li>
            <a href="#">Older people in retirement</a>

            <%= third_level(
              'Older people in retirement',
              'Here we focus on people who are already retired and drawing an income from pensions and other savings'
            ).html_safe %>
          </li>
          <li>
            <a href="#">People planning to retire</a>

            <%= third_level(
              'People planning to retire',
              'People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.'
            ).html_safe %>
          </li>
          <li>
            <a href="#">People in financial difficulties</a>

            <%= third_level(
              'People in financial difficulties',
              'People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.'
            ).html_safe %>
          </li>
          <li>
            <a href="#">People trying to save</a>

            <%= third_level(
              'People trying to save',
              'As a nation, very few of us have enough savings. This section looks at ways to tackle this'
            ).html_safe %>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#">Research &amp; evaluation</a>

      <div class="second-level">
        <p class="heading">Discover existing evidence and find out how to evaluate your own efforts</p>

        <a href="#" class="return">Research &amp; evaluation</a>

        <ul>
          <li>
            <p class="heading">Our Approach</p>

            <ul>
              <li>
                <a href="#">10 ways to get involved</a>
              </li>
            </ul>
          </li>

          <li>
            <p class="heading">Find evidence</p>

            <ul>
              <li>
                <a href="#">Evidence hub</a>
              </li>
              <li>
                <a href="#">Financial Capability in the UK</a>
              </li>
            </ul>
          </li>

          <li>
            <p class="heading">Evaluate your programme</p>

            <ul>
              <li>
                <a href="#">Evaluation toolkit</a>
              </li>
              <li>
                <a href="#">IMPACT principles</a>
              </li>
              <li>
                <a href="#">Funding</a>
              </li>
            </ul>
          </li>

          <li>
            <p class="heading">What Works Programme</p>

            <ul>
              <li>
                <a href="#">What Works Fund</a>
              </li>
              <li>
                <a href="#">Funded projects</a>
              </li>
              <li>
                <a href="#">FinCap labs</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#">News &amp; Events</a>

      <div class="second-level">
        <p class="heading">Get all the latest news, events and join in the conversation</p>

        <a href="#" class="return">News &amp; Events</a>

        <ul>
          <li>
            <p class="heading">Events</p>

            <ul>
              <li>
                <a href="#">FinCap Week 2018</a>
              </li>
              <li>
                <a href="#">How to get involved in FinCap Week</a>
              </li>
              <li>
                <a href="#">FinCap Week 2017</a>
              </li>
              <li>
                <a href="#">Highlights from FinCap Week 2017</a>
              </li>
              <li>
                <a href="#">FinCap Week 2016</a>
              </li>
            </ul>
          </li>

          <li>
            <p class="heading">Media Centre</p>

            <ul>
              <li>
                <a href="#">Latest news</a>
              </li>
              <li>
                <a href="#">News archive</a>
              </li>
              <li>
                <a href="#">Press releases archive</a>
              </li>
              <li>
                <a href="#">Brand guidelines</a>
              </li>
            </ul>
          </li>

          <li>
            <p class="heading">FinCap community</p>

            <ul>
              <li>
                <a href="#">Ask your questions</a>
              </li>
              <li>
                <a href="#">Networking events</a>
              </li>
              <li>
                <a href="#">Add your draft research</a>
              </li>
            </ul>
          </li>

          <li>
            <p class="heading">Blog</p>

            <ul>
              <li>
                <a href="#">Article 1</a>
              </li>
              <li>
                <a href="#">Article 2</a>
              </li>
              <li>
                <a href="#">Article 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>

    <li>
      <a href="#">Close</a>
    </li>
  </ul>
</nav>
