<div class='l-constrained'>
  <% present(@index_page) do |template| %>
    <%= render '/components/hero', 
      img_src: template.hero_image_component, 
      description: template.title,
      hero_colour: template.hero_colour_css_class
    %>
    <div class='row'>
      <div class="l-constrained">
        <div class="l-2col">
          <div class="l-2col-main">
            <div class="body-content"><%= template.body.html_safe %></div>
            <div class="latest-news__snippet l-constrained">
              <ul class="latest-news__list">
                <% present_collection(resource_collection).each do |template| %>
                  <li class="latest-news__list-item">
                    <div class="latest-news__item-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" class="latest-news__icon svg-icon svg-icon--latest-news" focusable="false">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--latest-news"></use>
                      </svg>
                    </div>
                    <div class="latest-news__content">
                      <p class="latest-news__list-item__date">
                        <%= template.order_by_date_component %>
                      </p>
                      <p class="latest-news__list-item__text">
                        <%= template.title %>
                      </p>
                      <a href="<%= template.full_path %>" class="latest-news__list-item__cta"><%= I18n.t('fincap.news.more_individual') %></a>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="l-2col-side">
            <%= template.cta_links_component %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
