<% present(resource) do |template| %>
  <div class="l-constrained">
    <%= render '/components/hero', 
      img_src: template.hero_image_component, 
      description: template.hero_description_component 
    %>
  </div>

  <div class="l-constrained">
    <div class="l-2col">
      <div class="l-2col-main">
        <h2><%= template.title %></h2>
        <p class="news-date"><%= template.order_by_date_component %></p>
        <%= template.body.html_safe %>
      </div>
      <div class="l-2col-side">
        <ul class="list list--links">
          <%- template.news_cta_links_component.each do |link| %>
            <li><%= link_to link[:text], link[:href] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
