<ul class="footer__menu">
  <li class="footer__menu-item footer__menu-item--right">
    <a class="footer__menu-link" href="https://moneyandpensionsservice.org.uk" target="_blank">
      <span class="footer__sfgb-text"><%= t('fincap.footer.mps_provided') %></span>
      <%= image_tag("mps-logo.png", class: 'mps-logo__img', alt: "#{t('fincap.footer.mps')} logo") %>
      <span class="visually-hidden">opens in a new window</span>
    </a>
  </li>

  <li class="footer__menu-item">
    <%== link_to('About us', article_path('en', 'about-us'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Contact us', article_path('en', 'contact-us'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Privacy notice', article_path('en', 'privacy'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Terms and conditions', article_path('en', 'terms-conditions'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Cookies', article_path('en', 'cookies'), class: 'footer__menu-link') %>
  </li>
</ul>
