<ul class="footer__menu">
  <li class="footer__menu-item">
    <%== link_to('About us', article_path('en', 'about-us'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Contact us', article_path('en', 'contact-us'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Privacy policy', article_path('en', 'privacy-policy'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Terms and conditions', article_path('en', 'terms-conditions'), class: 'footer__menu-link') %>
  </li>
  <li class="footer__menu-item">
    <%== link_to('Cookies', article_path('en', 'cookies'), class: 'footer__menu-link') %>
  </li>
</ul>