<footer>
  <div class="l-constrained">
    <div class="footer">
      <div class="footer__content">
        <div class="row">
          <div class="footer__search">
            <%= render 'shared/search', location: 'footer' %>
          </div>
        </div>
        <div class="row">
          <%= render 'shared/footer/footer_social' %>
          <%= render 'shared/footer/footer_newsletter' %>
        </div>
        <p class="footer__copyright">
          &copy; <%= "#{t('fincap.footer.copyright')} #{DateTime.now.year} #{t('fincap.footer.mps')} #{t('fincap.footer.sfgb_address')}" %>
        </p>
        <%= render 'shared/footer/footer_menu' %>
      </div>
    </div>
  </div>
</footer>
