<div class='l-constrained'>
  <% present(@index_page) do |template| %>
    <%= render '/components/hero', 
      img_src: template.hero_image_component, 
      description: template.hero_description_component 
    %>
    <div class='row'>
      <div class="body-content">
        <%= template.body.html_safe %>
      </div>
    </div>
  <% end %>

  <% present_collection(resource_collection).each do |template| %>
    <div class='row'>
      <div class='l-constrained-padded'>
        <div class='teaser-box--thematic-review'>
          <img class='teaser-box__image'
                 src=<%= template.hero_image_component %>
                 alt=''
            />
          <div class='teaser-box__content'>
            <h3 class='teaser-box__title'>Thematic Review:</h3>
            <a href= "<%= template.full_path %>" class='teaser-box__content-link'>
              <%= template.title %>
            </a>
            <p class='teaser-box__content-text'>
              <%= template.overview_content.html_safe %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
