<% present(resource) do |template| %>
  <div class="l-constrained">
    <div class="row">
      <div class="hero" style="background-image: url(<%= template.hero_image_component %>);">
        <h1 class="hero__heading">
          <%= template.hero_description_component.html_safe %>
        </h1>
      </div>
    </div>
  </div>

  <div class="l-constrained">
    <div class="l-2col">
      <div class="l-2col-main">
        <h2><%= template.title %></h2>

        <%= template.body.html_safe %>
      </div>
      <div class="l-2col-side">
        <%= template.cta_links_component %>
        <%= template.download_component %>
        <%= template.feedback_component %>
      </div>
    </div>
  </div>
<% end %>
