<div class='l-constrained'>
  <% present_collection(@index_page).each do |presenter| %>
    <div class='row'>
      <div class='hero hero--blue styleguide__hero'>
        <h1 class='hero__heading'><%= presenter.title %></h1>
      </div>
    </div>
    <div class='row'><%= presenter.content.html_safe %></div>
  <% end %>
  <% present_collection(@thematic_reviews).each do |document_presenter| %>
    <div class='row'>
      <div class='teaser-box--thematic-review'>
        <img class='teaser-box__image'
             src=<%= document_presenter.hero_image_src %>
             alt=''
        />
        <div class='teaser-box__content'>
          <h3 class='teaser-box__title'>Thematic Review:</h3>
          <a href=<%=document_presenter.full_path %> class='teaser-box__content-link'>
            <%= document_presenter.title %>
          </a>
          <p class='teaser-box__content-text'>
            <%= document_presenter.stripped_overview %> 
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
