<nav class="nav uninitialised is-active" data-dough-component="Nav" role="navigation">
  <div class="l-constrained">
    <ul class="nav__level-1" data-nav-level-1 role="menubar" aria-label="main site navigation">
      <li class="nav__level-1__element" data-nav-level-1-item role="none">
        <%= link_to(
          '#',
          {
            'data-nav-level-1-heading': true,
            'class': 'nav__level-1__element__heading',
            'role': 'menuitem',
            'aria-haspopup': true,
            'aria-expanded': false,
            'tabindex': 0
          }) do %>
          <span class="nav__level-1__element__text">What Is Financial Capability?</span>
        <% end %>

        <div class="nav__level-2" data-nav-level-2>
          <div class="nav__level-2__wrap">
            <p href="#" class="nav__level-2__description" role="category description">The concept of financial capability, why it is important and who can benefit</p>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__heading">
                <%= link_to(
                  '#',
                  {
                    'data-nav-level-2-heading': true,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__heading__text">What Is Financial Capability?</span>
                <% end %>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="What is financial capability?">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'What is Financial Capability?',
                      article_path('en', 'what-is-financial-capability'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">The current situation in the UK</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Financial capability - a global issue</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Who is this website for?">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Who is this website for?',
                      article_path('en', 'who-is-this-website-for'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Financial Services</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Charities &amp; third-sector organsations</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Employers</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Researchers</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Teachers</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Individuals</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item role="none">
        <%= link_to(
          '#',
          {
            'data-nav-level-1-heading': true,
            'class': 'nav__level-1__element__heading',
            'role': 'menuitem',
            'aria-haspopup': true,
            'aria-expanded': false,
            'tabindex': 0
          }) do %>
          <span class="nav__level-1__element__text">About The Strategy</span>
        <% end %>

        <div class="nav__level-2" data-nav-level-2>
          <div class="nav__level-2__wrap">
            <p class="nav__level-2__description" role="category description">Who is involved, why it is needed and how it will help millions of people across the UK</p>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__heading">
                <%= link_to(
                  '#',
                  {
                    'data-nav-level-2-heading': true,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__heading__text">About The Strategy</span>
                <% end %>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="What is The Strategy?">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'What is The Strategy?',
                      article_path('en', 'strategy'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">UK strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Northern Ireland strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Scotland strategy</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Wales strategy</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Why is The Strategy needed?">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Why is The Strategy needed?',
                      article_path('en', 'why-strategy-needed'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">What The Strategy aims to achieve</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Summary of key statistics on financial capability</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Strategy development</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="How the Strategy will be delivered">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'How The Strategy will be delivered',
                      article_path('en', 'how-strategy-delivered'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">The role of steering groups</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">The role of the Money Advice Service</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Who is involved?">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Who is involved?',
                      article_path('en', 'whos-involved'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Fincancial Capability board</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Steering groups and forums</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">IMPACT principle signatories</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">What Works fund grantees</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Get involved</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item role="none">
        <%= link_to(
          '#',
          {
            'data-nav-level-1-heading': true,
            'class': 'nav__level-1__element__heading',
            'role': 'menuitem',
            'aria-haspopup': true,
            'aria-expanded': false,
            'tabindex': 0
          }) do %>
          <span class="nav__level-1__element__text">Life Stages</span>
        <% end %>

        <div class="nav__level-2 nav__level-2--extended" data-nav-level-2-extended>
          <div class="nav__level-2__wrap">
            <p class="nav__level-2__description" role="category description">Groups, areas and themes the strategy focuses on</p>

            <ul class="nav__level-2__categories" data-nav-level-2-extended-items role="menu" aria-label="Life stages">
              <li class="nav__level-2__heading" role="none">
                <%= link_to(
                  '#',
                  {
                    'data-nav-level-2-heading': true,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__heading__text">Life Stages</span>
                <% end %>
              </li>

              <li class="nav__level-2__category" role="none">
                <%= link_to(
                  lifestage_path('en', 'children-and-young-people'),
                  {
                    'data-nav-level-2-extended-heading': true,
                    'class': 'nav__level-2__category__heading',
                    'role': 'menuitem',
                    'aria-haspopup': true,
                    'aria-expanded': false,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__category__heading__text">Children and Young People</span>
                <% end %>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="nav__level-3__main">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading tabindex="-1">
                      <span class="nav__level-3__heading__text">Children &amp; young people</span>
                    </a>

                    <ul class="nav__level-3__categories" role="menu">
                      <li class="nav__level-3__category" role="none">
                        <a href="#" class="btn btn--primary" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Find out more about children and young people</a>
                      </li>

                      <li class="nav__level-3__category" role="none">
                        <ul class="nav__level-3__subcategories" role="menu" aria-label="Children &amp; young people">
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Children and young people Steering Group</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Action Plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category" role="none">
                <%= link_to(
                  lifestage_path('en', 'young-adults'),
                  {
                    'data-nav-level-2-extended-heading': true,
                    'class': 'nav__level-2__category__heading',
                    'role': 'menuitem',
                    'aria-haspopup': true,
                    'aria-expanded': false,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__category__heading__text">Young Adults</span>
                <% end %>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="nav__level-3__main">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Focussing on ages 3 to 18, to give young people the excellent financial education they need to transform our nation’s financial future</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading tabindex="-1">
                      <span class="nav__level-3__heading__text">Young Adults</span>
                    </a>

                    <ul class="nav__level-3__categories" role="menu">
                      <li class="nav__level-3__category" role="none">
                        <a href="#" class="btn btn--primary" tabindex="-1" data-nav-level-3-link>Find out more about young adults</a>
                      </li>

                      <li class="nav__level-3__category" role="none">
                        <ul class="nav__level-3__subcategories" role="menu" aria-label="Young Adults">
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Young Adults steering group</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Young Adults action plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category" role="none">
                <%= link_to(
                  lifestage_path('en', 'working-age'),
                  {
                    'data-nav-level-2-extended-heading': true,
                    'class': 'nav__level-2__category__heading',
                    'role': 'menuitem',
                    'aria-haspopup': true,
                    'aria-expanded': false,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__category__heading__text">Working Age Adults</span>
                <% end %>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="nav__level-3__main">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Working life starts when we enter the workplace, and stretches through to retirement – covering many life events from ages 16 to 70</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading tabindex="-1">
                      <span class="nav__level-3__heading__text">Working Age Adults</span>
                    </a>

                    <ul class="nav__level-3__categories" role="menu">
                      <li class="nav__level-3__category" role="none">
                        <a href="#" class="btn btn--primary" tabindex="-1" data-nav-level-3-link>Find out more about working age adults</a>
                      </li>

                      <li class="nav__level-3__category" role="none">
                        <ul class="nav__level-3__subcategories" role="menu" aria-label="Working Age Adults">
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Working Age Adults</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Working Age Adults Action Plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category" role="none">
                <%= link_to(
                  lifestage_path('en', 'retirement-planning'),
                  {
                    'data-nav-level-2-extended-heading': true,
                    'class': 'nav__level-2__category__heading',
                    'role': 'menuitem',
                    'aria-haspopup': true,
                    'aria-expanded': false,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__category__heading__text">Retirement Planning</span>
                <% end %>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="nav__level-3__main">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">Here we focus on people who are already retired and drawing an income from pensions and other savings</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading tabindex="-1">
                      <span class="nav__level-3__heading__text">Older People in Retirement</span>
                    </a>

                    <ul class="nav__level-3__categories" role="menu">
                      <li class="nav__level-3__category" role="none">
                        <a href="#" class="btn btn--primary" tabindex="-1" data-nav-level-3-link>Find out more about older people in retirement</a>
                      </li>

                      <li class="nav__level-3__category" role="none">
                        <ul class="nav__level-3__subcategories" role="menu" aria-label="Older People in Retirement">
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Older People in Retirement</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Older People in Retirement</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category" role="none">
                <%= link_to(
                  lifestage_path('en', 'people-retirement'),
                  {
                    'data-nav-level-2-extended-heading': true,
                    'class': 'nav__level-2__category__heading',
                    'role': 'menuitem',
                    'aria-haspopup': true,
                    'aria-expanded': false,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__category__heading__text">People in retirement</span>
                <% end %>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="nav__level-3__main">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading tabindex="-1">
                      <span class="nav__level-3__heading__text">People planning to retire</span>
                    </a>

                    <ul class="nav__level-3__categories" role="menu">
                      <li class="nav__level-3__category" role="none">
                        <a href="#" class="btn btn--primary" tabindex="-1" data-nav-level-3-link>Find out more about people planning to retire</a>
                      </li>

                      <li class="nav__level-3__category" role="none">
                        <ul class="nav__level-3__subcategories" role="menu" aria-label="People planning to retire">
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>People planning to retire</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Steering group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>People planning to retire action plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category" role="none">
                <%= link_to(
                  lifestage_path('en', 'people-financial-difficulties'),
                  {
                    'data-nav-level-2-extended-heading': true,
                    'class': 'nav__level-2__category__heading',
                    'role': 'menuitem',
                    'aria-haspopup': true,
                    'aria-expanded': false,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__category__heading__text">People in Financial Difficulties</span>
                <% end %>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="nav__level-3__main">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">People can experience financial difficulties at any stage in life. This section covers early intervention, crisis support and building resilience to future financial shocks.</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading tabindex="-1">
                      <span class="nav__level-3__heading__text">People in Financial difficulties</span>
                    </a>

                    <ul class="nav__level-3__categories" role="menu">
                      <li class="nav__level-3__category" role="none">
                        <a href="#" class="btn btn--primary" tabindex="-1" data-nav-level-3-link>Find out more about people in financial difficulties</a>
                      </li>

                      <li class="nav__level-3__category" role="none">
                        <ul class="nav__level-3__subcategories" role="menu" aria-label="People in Financial difficulties">
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Debt advice steering group</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Steering Group updates</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Debt Advice action plans</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li class="nav__level-2__category" role="none">
                <%= link_to(
                  lifestage_path('en', 'people-trying-save'),
                  {
                    'data-nav-level-2-extended-heading': true,
                    'class': 'nav__level-2__category__heading',
                    'role': 'menuitem',
                    'aria-haspopup': true,
                    'aria-expanded': false,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__category__heading__text">People trying to save</span>
                <% end %>

                <div class="nav__level-3" data-nav-level-3>
                  <div class="nav__level-3__main">
                    <div class="nav__level-3__image"></div>

                    <p class="nav__level-3__description">As a nation, very few of us have enough savings. This section looks at ways to tackle this</p>

                    <a href="#" class="nav__level-3__heading" data-nav-level-3-heading tabindex="-1">
                      <span class="nav__level-3__heading__text">People trying to save</span>
                    </a>

                    <ul class="nav__level-3__categories" role="menu">
                      <li class="nav__level-3__category" role="none">
                        <a href="#" class="btn btn--primary" tabindex="-1" data-nav-level-3-link>Find out more about people trying to save</a>
                      </li>

                      <li class="nav__level-3__category" role="none">
                        <ul class="nav__level-3__subcategories" role="menu" aria-label="People trying to save">
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Savings Steering Group</a>
                          </li>
                          <li class="nav__level-3__subcategory" role="none">
                            <a href="#" class="nav__level-3__subcategory__text" role="menuitem" aria-haspopup="false" tabindex="-1" data-nav-level-3-link>Steering Group updates</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item role="none">
        <%= link_to(
          '#',
          {
            'data-nav-level-1-heading': true,
            'class': 'nav__level-1__element__heading',
            'role': 'menuitem',
            'aria-haspopup': true,
            'aria-expanded': false,
            'tabindex': 0
          }) do %>
          <span class="nav__level-1__element__text">Research &amp; Evaluation</span>
        <% end %>

        <div class="nav__level-2" data-nav-level-2>
          <div class="nav__level-2__wrap">
            <p class="nav__level-2__description" role="category description">Discover existing evidence and find out how to evaluate your own efforts</p>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__heading">
                <%= link_to(
                  '#',
                  {
                    'data-nav-level-2-heading': true,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__heading__text">Research &amp; Evaluation</span>
                <% end %>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Our Approach">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Our approach',
                      article_path('en', 'our-approach'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">How to get involved</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Find evidence">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Find Evidence',
                      article_path('en', 'find-evidence'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Evidence hub</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Financial Capability in the UK</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Evaluate your programme">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Evaluate your programme',
                      article_path('en', 'evaluate-your-programme'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Evaluation toolkit</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">IMPACT principles</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Funding</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="What Works Programme">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'What Works Programme',
                      '/en/what-works/programme',
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">What Works Fund</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">Funded projects</a>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">FinCap labs</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__level-1__element" data-nav-level-1-item role="none">
        <%= link_to(
          '#',
          {
            'data-nav-level-1-heading': true,
            'class': 'nav__level-1__element__heading',
            'role': 'menuitem',
            'aria-haspopup': true,
            'aria-expanded': false,
            'tabindex': 0
          }) do %>
          <span class="nav__level-1__element__text">News &amp; Events</span>
        <% end %>

        <div class="nav__level-2" data-nav-level-2>
          <div class="nav__level-2__wrap">
            <p class="nav__level-2__description" role="category description">Get all the latest news, events and join in the conversation</p>

            <ul class="nav__level-2__categories">
              <li class="nav__level-2__heading">
                <%= link_to(
                  '#',
                  {
                    'data-nav-level-2-heading': true,
                    'tabindex': -1
                  }) do %>
                  <span class="nav__level-2__heading__text">Research &amp; Evaluation</span>
                <% end %>

                <a href="#" data-nav-level-2-heading tabindex="-1">
                  <span class="nav__level-2__heading__text">News &amp; Events</span>
                </a>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Events">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Evaluate your programme',
                      article_path('en', 'events'),
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                  <li class="nav__level-2__subcategory" role="none">
                    <a href="#" role="menuitem" aria-haspopup="false" data-nav-level-2-subcategory-link tabindex="-1">FinCap Week</a>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Latest news">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Latest News',
                      'http://fincap.org.uk/latest-news',
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                </ul>
              </li>

              <li class="nav__level-2__category">
                <ul class="nav__level-2__subcategories" role="menu" aria-label="Blog">
                  <li class="nav__level-2__subcategory" role="none">
                    <%= link_to(
                      'Blog',
                      'http://blog.fincap.org.uk/',
                      'data-nav-level-2-subcategory-heading': true,
                      'class': 'nav__level-2__subcategory__heading',
                      'role': 'menuitem',
                      'aria-haspopup': false,
                      'tabindex': -1
                    ) %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="nav__search-bar" data-nav-search-bar>
        <%= render 'shared/search', location: 'navigation' %>
      </li>

      <li class="nav__close-button">
        <a href="#" class="nav__close-button__text" data-mobile-nav-close>
          Close
          <svg xmlns="http://www.w3.org/2000/svg" class="nav__close-button__icon" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="mobile-nav-overlay" data-mobile-nav-overlay=""></div>
