<h1 class="evidence-hub__title <%= evidence_summary.new_css_class %>">
  <%= evidence_summary.title %>
</h1>

<p class="evidence-hub__type">
  <%= render 'evidence_type', evidence_summary: evidence_summary %>
</p>

<%= render 'evidence_checklist', evidence_summary: evidence_summary %>

<div class="evidence-hub__content">
  <%= evidence_summary.content.html_safe %>
</div>
