<div class="sidepanel__filters">
  <h4 class="sidepanel__title"><%= I18n.t('evidence_hub.filters_header') %></h4>

  <% EvidenceSummarySearchForm.radio_button_filters.each do |filter| %>
    <fieldset class="sidepanel__fieldset">
      <legend class="sidepanel__subtitle"><%= search_form.filter_title(filter) %></legend>
      <%= render 'radio_buttons', f: f, form_object: search_form, field: filter %>
    </fieldset>
  <% end %>

  <% EvidenceSummarySearchForm.checkbox_filters.each do |filter| %>
    <fieldset class="sidepanel__fieldset">
      <legend class="sidepanel__subtitle"><%= search_form.filter_title(filter) %></legend>
      <%= render 'checkboxes', f: f, form_object: search_form, field: filter %>
    </fieldset>
  <% end %>
</div>
