<%= form_for(
      @search_form,
      builder: FincapBuilder,
      url: evidence_hub_index_path,
      method: :get
    ) do |f|
%>
  <%= f.text_field :keyword %>
  <%= f.button 'Search', type: 'submit', class: 'btn btn--primary btn--full-width' %>
  <%= link_to evidence_hub_index_path(reset: true, keyword: @search_form.keyword), class: 'sidepanel__clear-filters' do %>
    <svg xmlns="http://www.w3.org/2000/svg"
        class="sidepanel__clear-icon"
        focusable="false">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--clear-filters"></use>
    </svg>
    <span>Clear search</span>
  <% end %>
  <div class="sidepanel__divider"></div>
  <%= render 'filters', f: f, search_form: @search_form %>
<% end %>
