<div class="l-constrained">
  <div class="hero hero--blue">
    <h1 class="hero__heading">
      <%= t('evidence_hub.summaries.header') %>
    </h1>
  </div>

  <div class="l-2col">
    <div class="l-2col-side">
      <div class="sidepanel">
      </div>
    </div>
    <div class="l-2col-main">
      <ul class="search-results">
        <% present_collection(@evidence_summaries).each do |document| %>
          <li class="search-results__item">
            <p class="search-results__title">
              <%= document.link %>
            </p>
            <p class="search-results__description">
              <%= document.stripped_overview %>
            </p>
            <p class="search-results__evidence-type">
              <%= document.evidence_type_info %>
            </p>
            <p class="search-results__topics">
              <%= document.stripped_topics %>
            </p>
            <p class="search-results__countries">
              <%= document.stripped_countries %>
            </p>
            <p class="search-results__year-of-publication">
              <%= document.stripped_year_of_publication %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
