<div class="l-constrained">
  <div class="hero hero--blue">
    <h1 class="hero__heading">
      <%= t('evidence_hub.summaries.header') %>
    </h1>
  </div>

  <div class="l-2col">
    <div class="l-2col-side">
      <div class="sidepanel">
        <h4 class="sidepanel__title">Keyword search</h4>

        <%= form_tag(evidence_hub_index_path, method: :get) do %>
          <%= text_field_tag :keyword, params[:keyword] %>
          <%= button_tag 'Save', type: 'submit', class: 'btn btn--primary btn--full-width' %>
        <% end %>
      </div>
    </div>
    <div class="l-2col-main">
      <ul class="search-results">
        <% present_collection(@evidence_summaries).each do |document| %>
          <li class="search-results__item">
            <p class="search-results__title">
              <%= document.link %>
            </p>
            <p class="search-results__description">
              <%= document.stripped_overview %>
            </p>
            <p class="search-results__evidence-type">
              <%= document.formatted_evidence_type %>
            </p>
            <p class="search-results__topics">
              <%= document.formatted_topics %>
            </p>
            <p class="search-results__countries">
              <%= document.formatted_countries %>
            </p>
            <p class="search-results__year-of-publication">
              <%= document.formatted_year_of_publication %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
