<li class="nav__level-1__element" data-nav-level-1-item role="none">
  <%= render_level_1_heading('What Is Financial Capability?') %>

  <div class="nav__level-2" data-nav-level-2>
    <div class="nav__level-2__wrap">
      <p href="#" class="nav__level-2__description" role="category description">The concept of financial capability, why it is important and who can benefit</p>

      <ul class="nav__level-2__categories">
        <%= render_level_2_heading('What Is Financial Capability?') %>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="What is financial capability?">
            <%= render_level_2_subcategory_heading('What Is Financial Capability?', article_path('en', 'what-is-financial-capability')) %>

            <% {
              'Financial capability levels in the UK' => article_path('en', 'levels-uk'),
              'Financial capability - a global issue' => article_path('en', 'global-issue')
            }.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Who is this website for?">
            <%= render_level_2_subcategory_heading('Who is this website for?', article_path('en', 'who-is-this-website-for')) %>

            <% {
              'Financial services' => article_path('en', 'financial-services'),
              'Charities and third-sector organisations' => article_path('en', 'charities-third-sector-organisations'),
              'Employers' => article_path('en', 'employers'),
              'Researchers' => article_path('en', 'researchers'),
              'Schools' => article_path('en', 'schools'),
              'Parents' => article_path('en', 'parents'),
              'Childrens services' => article_path('en', 'childrens-services'),
              'Youth and students' => article_path('en', 'youth-students'),
              'Individuals' => article_path('en', 'individuals')
            }.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>
