<li class="nav__level-1__element" data-nav-level-1-item role="none">
  <%= render_level_1_heading('News &amp; Events') %>

  <div class="nav__level-2" data-nav-level-2>
    <div class="nav__level-2__wrap">
      <p class="nav__level-2__description" role="category description">Get all the latest news, events and join in the conversation</p>

      <ul class="nav__level-2__categories">
        <%= render_level_2_heading('News &amp; Events') %>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Events">
            <%= render_level_2_subcategory_heading('Evaluate your programme', article_path('en', 'evaluate-your-programme')) %>

            <% NavigationHelper::EVALUATE.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link, 'article') %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Latest news">
            <%= render_level_2_subcategory_heading('Latest News', 'http://fincap.org.uk/latest-news') %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Blog">
            <%= render_level_2_subcategory_heading('Blog', 'http://blog.fincap.org.uk/') %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>
