<li class="nav__level-1__element" data-nav-level-1-item role="none">
  <%= render_level_1_heading('About The Strategy') %>

  <div class="nav__level-2" data-nav-level-2>
    <div class="nav__level-2__wrap">
      <p class="nav__level-2__description" role="category description">Who is involved, why it is needed and how it will help millions of people across the UK</p>

      <ul class="nav__level-2__categories">
        <%= render_level_2_heading('About The Strategy') %>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="What is The Strategy?">
            <%= render_level_2_subcategory_heading('What is The Strategy?', article_path('en', 'strategy')) %>

            <% {
              'UK Strategy' => article_path('en', 'uk-strategy'),
              'Northern Ireland' => article_path('en', 'northern-ireland'),
              'Scotland' => article_path('en', 'scotland'),
              'Wales' => article_path('en', 'wales')
            }.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Why is The Strategy needed?">
            <%= render_level_2_subcategory_heading('Why is The Strategy needed?', article_path('en', 'why-strategy-needed')) %>

            <% {
              'What The Strategy needs to achieve' => article_path('en', 'what-strategy-needs-achieve'),
              'Evidence and analysis' => article_path('en', 'evidence-analysis'),
              'Summary of key statistics on Financial Capability' => 'https://masassets.blob.core.windows.net/fincap-cms/files/000/000/070/original/Finanical_Capability_-_Key_Statistics.pdf',
              'Strategy development' => article_path('en', 'development-strategy')
            }.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="How the Strategy will be delivered">
            <%= render_level_2_subcategory_heading('How The Strategy will be delivered', article_path('en', 'how-strategy-delivered')) %>

            <% {
              'The role of the steering groups' => article_path('en', 'role-steering-groups'),
              'The role of Money Advice Service' => article_path('en', 'role-money-advice-service')
            }.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Who is involved?">
            <%= render_level_2_subcategory_heading('Who is involved?', article_path('en', 'whos-involved')) %>

            <% {
              'The Financial capability Board' => article_path('en', 'financial-capabilty-board'),
              'Steering Group and forums' => article_path('en', 'steering-group-forums'),
              'IMPACT Principle Signatories' => article_path('en', 'impact-principle-signatories'),
              'What Works Fund Grantees' => article_path('en', 'what-works-grant-funded-projects'),
              'Get Involved' => 'http://fincap.org.uk/get-involved'
            }.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>
