<li class="nav__level-1__element" data-nav-level-1-item role="none">
  <%= render_level_1_heading('About The Strategy') %>

  <div class="nav__level-2" data-nav-level-2>
    <div class="nav__level-2__wrap">
      <p class="nav__level-2__description" role="category description">Who is involved, why it is needed and how it will help millions of people across the UK</p>

      <ul class="nav__level-2__categories">
        <%= render_level_2_heading('About The Strategy') %>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="What is The Strategy?">
            <%= render_level_2_subcategory_heading('What is The Strategy?', article_path('en', 'strategy')) %>

            <% NavigationHelper::WHAT_IS_STRATEGY.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Why is The Strategy needed?">
            <%= render_level_2_subcategory_heading('Why is The Strategy needed?', article_path('en', 'why-strategy-needed')) %>

            <% NavigationHelper::WHY_STRATEGY_NEEDED.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="How the Strategy will be delivered">
            <%= render_level_2_subcategory_heading('How The Strategy will be delivered', article_path('en', 'how-strategy-delivered')) %>

            <% NavigationHelper::HOW_STRATEGY_DELIVERED.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Who is involved?">
            <%= render_level_2_subcategory_heading('Who is involved?', article_path('en', 'whos-involved')) %>

            <% NavigationHelper::WHO_INVOLVED.each do |text, link| %>
              <%= render_level_2_subcategory_link(text, link) %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>
