<li class="nav__level-1__element is-active" data-nav-level-1-item role="none">
  <%= render_level_1_heading(t('navigation.what_is_strategy.title')) %>

  <div class="nav__level-2" data-nav-level-2>
    <div class="nav__level-2__wrap">
      <p class="nav__level-2__description" role="category description"><%= t('navigation.what_is_strategy.description') %></p>

      <ul class="nav__level-2__categories">
        <%= render_level_2_heading(t('navigation.what_is_strategy.title')) %>

        <li class="nav__level-2__category">
          <ul
            class="nav__level-2__subcategories"
            role="menu"
            aria-label="<%= t('navigation.what_is_strategy.subcategory_what_is_strategy.heading') %>"
          >
            <%= render_level_2_subcategory_heading(
              t('navigation.what_is_strategy.subcategory_what_is_strategy.heading'),
              article_path('en', t('navigation.what_is_strategy.subcategory_what_is_strategy.link'))
            ) %>

            <% t('navigation.what_is_strategy.subcategory_what_is_strategy.level_2_subcategory_link').each do |link| %>
              <%= render_level_2_subcategory_link("#{link[:text]}", "#{link[:url]}", "#{link[:page_type]}") %>
            <% end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul
            class="nav__level-2__subcategories"
            role="menu"
            aria-label="<%= t('navigation.what_is_strategy.subcategory_why_strategy_needed.heading') %>"
          >
            <%= render_level_2_subcategory_heading(
              t('navigation.what_is_strategy.subcategory_why_strategy_needed.heading'),
              article_path('en', t('navigation.what_is_strategy.subcategory_why_strategy_needed.link'))
            ) %>

            <% t('navigation.what_is_strategy.subcategory_why_strategy_needed.level_2_subcategory_link').each do |link| %>
              <%= render_level_2_subcategory_link("#{link[:text]}", "#{link[:url]}", "#{link[:page_type]}") %>
            <% end %>

            <%# NavigationHelper::WHY_STRATEGY_NEEDED.each do |text, link| %>
              <%# render_level_2_subcategory_link(text, link) %>
            <%# end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="How the Strategy will be delivered">
            <%= render_level_2_subcategory_heading('How The Strategy will be delivered', article_path('en', 'how-strategy-delivered')) %>

            <% t('navigation.what_is_strategy.subcategory_what_is_strategy.level_2_subcategory_link').each do |link| %>
              <%= render_level_2_subcategory_link("#{link[:text]}", "#{link[:url]}", "#{link[:page_type]}") %>
            <% end %>

            <%# NavigationHelper::HOW_STRATEGY_DELIVERED.each do |text, link| %>
              <%# render_level_2_subcategory_link(text, link) %>
            <%# end %>
          </ul>
        </li>

        <li class="nav__level-2__category">
          <ul class="nav__level-2__subcategories" role="menu" aria-label="Who is involved?">
            <%= render_level_2_subcategory_heading('Who is involved?', article_path('en', 'whos-involved')) %>

            <% t('navigation.what_is_strategy.subcategory_what_is_strategy.level_2_subcategory_link').each do |link| %>
              <%= render_level_2_subcategory_link("#{link[:text]}", "#{link[:url]}", "#{link[:page_type]}") %>
            <% end %>

            <%# NavigationHelper::WHO_INVOLVED.each do |text, link| %>
              <%# render_level_2_subcategory_link(text, link) %>
            <%# end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</li>
