<!DOCTYPE html>
<html>
  <head>
    <title>FinCap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
      <%= render 'shared/svg/icon_sprite' %>
    <!--<![endif]-->
  </head>

  <body>
    <a data-mobile-nav-button href="#" role="button" class="mobile-nav-button">Menu</a>
    <%= yield %>
    <%= render 'shared/footer/footer' %>
  </body>
</html>
