<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>FinCap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
      <%= render 'shared/svg/icon_sprite' %>
    <!--<![endif]-->
  </head>

  <body>
    <%# START Google Tag Manager embed code %>
    <% if Rails.env.production? %>
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=<%= Rails.application.config.google_tag_manager_id %>"
              height="0" width="0" style="display:none;visibility:hidden"
              title="Google Tag Manager"></iframe>
    </noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f.nextSibling);
        })(window, document, 'script', 'dataLayer', '<%= Rails.application.config.google_tag_manager_id %>');
    </script>
    <% end %>
    <%# END Google Tag Manager embed code %>


    <%= render 'shared/header' %>
    <%= render 'shared/nav/nav' %>
    <%= yield %>
    <%= render 'shared/footer/footer' %>
    <%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
  </body>
</html>
