<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>FinCap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
      <%= render 'shared/svg/icon_sprite' %>
    <!--<![endif]-->
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render template: 'navigation/show' %>
    <%= yield %>
    <%= render 'shared/footer/footer' %>
  </body>
</html>
