<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>FinCap Styleguide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
      <%= render 'shared/svg/icon_sprite' %>
    <!--<![endif]-->
  </head>

  <body>
    <div class="l-constrained">
      <div class="l-2col">
        <div class="l-2col-side">
          <%= render 'styleguide/menu' %>
        </div>
        <div class="l-2col-main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
